<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body id="body">
  <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg navbar-toggleable-md">
        <a href="/" class="navbar-brand">Upload Image</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About</a>
                    </li>
                </ul>
                <a href="/login" class="btn btn-sm btn-outline-secondary text-white">Login</a>&nbsp;
                <a href="/register" class="btn btn-sm btn-outline-secondary text-white">Register</a>
            </div>
        </div>
    </nav>
  {{{body}}}

  <script src="js/libs/tether.min.js"></script>
  <script src="js/libs/jquery.min.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>

</body>

</html>