.navbar {
    opacity: 0.9;
}

#form {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #383737;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 55px 40px;
    box-sizing: border-box;
    background: #85858580;
    margin-top: 20px;
    text-align: center;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #9b9b9b;
    text-align: center;
}

.loginBox h3 {
    margin: 0;
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="password"],
.loginBox input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: #ffffff80;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #383737;
    cursor: pointer;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
    background: #444242;
    color: #ffffff;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#login_box {
    margin-top: 35px;
}

#img_grid {
    margin-top: 70px;
}

.images {
    height: auto;
    width: 100%;
}

.img_style {
    margin-top: 15px;
}

.img_style:hover .overlay {
    opacity: 1;
}

.overlay {
    position: inherit;
    top: -25px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    align-self: flex-end;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.img_style p {
    display: inline-block;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    padding: 3px;
}

.img_style p:hover {
    background: #dddddd;
    transition: .3s ease-in-out;
}

.download {
    color: #42464b;
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.love {
    color: #ff4848;
    font-size: 20px;
    position: absolute;
    top: 86%;
    left: 89%;
    transform: translate(-50%, -50%);
}

.fas {
    background: #f8ecec;
    border-radius: 5px;
    padding: 5px;
}

#dashboard {
    background: #e6e6e6;
}

@media (max-width: 768px) {
    .overlay {
        opacity: 1;
    }
}